
.navbar {
    background: linear-gradient(to bottom,#086ed5,#055db5);
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}
.input-group{
    width: 367px;
}
.navbar-inverse .navbar-brand ,
.navbar-nav{
    color:#fff;
}
.navbar-inverse .navbar-nav > li > a {
    color:#999;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li .selected,
 {
    color:#fff;
}

span#search-button {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    -moz-osx-font-smoothing: grayscale;
}

.add-question {
    float:left;
    height:38px;
    margin-top: 6px;
    border: 1px solid #045bb2;
    background: linear-gradient(to bottom,#0e7bef,#0d73da);
    color:#fff;
}
.top-title-left {
    font-size: 14px;
    color: #666;
    font-weight: 700;
}
.glyphicon-list-alt {
    width: 16px;
    height: 16px;
    vertical-align: -4px;
    margin-right: 5px;
    background-position: -71px -88px;
}
ul.posts ,ul.answers {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

div.pagination {
     width: 100%;
     text-align: left;
     padding: 0px;
     margin-left: 20%;
 }

li.post,li.answer  {
    width:800px;
    padding: 10px 0;
    position: relative;
    margin-left: 0;
    outline: 0;
    border-bottom: 1px solid #e0e0e0;
}

div.post-footer {
    width:750px;
    padding: 10px 0;
    position: relative;
    margin-left: 0;
    outline: 0;
    border-top: 1px solid #e0e0e0;

}

div.profile-thumbnail{
    position:absolute;
    display: block;
    width: 38px;
    height: 38px;
 }
div.post-content {
    margin-left: 48px;
    min-height: 48px;
    position:relative;
    float:top;

}
div.post-author {
    position: relative;
    font-weight: bold;
    float:left;
    color: #BBB;
}
div.post-author a,.answer-author a {
    color:#666;
}


div.divider {
    font-size: 12px;
    margin-left:2px;
    margin-right:2px;
    float:left;
    color: #BBB;
}
div.post-date,.answer-data {
    color: #BBB;
}

a {
    color:#259;
    text-decoration: none;
}

div.vote {
    position:absolute;
    display: block;
    margin-left: -48px;
    width: 38px;
    height: 73px;
}
div.vote-answer {
    position:absolute;
    display: block;
    width: 38px;
    height: 73px;
}

.button-up,.button-down{
    display: block;
    color: #698ebf;
    height: 24px;
    line-height: 24px;
    width: 38px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    background: #eff6fa;
    font-weight: 700;
    font-weight: 500;
    text-align: center;
    position: relative;   
    padding: 0;
    
}
.button-uped{
    display: block;
    height: 44px;
    line-height: 24px;
    color: #fff;
    width: 38px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    background: #698ebf;
    font-weight: 700;
    font-weight: 500;
    text-align: center;
    position: relative;
    padding: 0;

}

.button-up {
    height: 44px;
}

.button-down{
    margin: 5px 0 0;
}
.vote-up,.vote-down{
    display: block;
    color: #698ebf;
    height: 24px;
    line-height: 24px;
    width: 38px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    background: #eff6fa;
    font-weight: 700;
    font-weight: 500;
    text-align: center;
    position: relative;
    
}

.vote-uped{
    display: block;
    height: 24px;
    line-height: 24px;
    color: #fff;
    width: 38px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    background: #698ebf;
    font-weight: 700;
    font-weight: 500;
    text-align: center;
    position: relative;


}


.uped {
    background: #698ebf;
    color: #fff;
}



.agree,.disagree {
    background-color: #eff7fa;
    display:none;
}

div.right {
    float:right;
    position:relative;
 }

div.answer-body {
    margin:10px,0px,10px,0px;
}

div.answer-content {
    margin-left: 0 px;
    min-height: 78px;
    position:relative;
    float:top;
}

div.username {
    font-size: 1.4em;
    margin-bottom: 10px;
}
div.main-wrap {
    width:780px;
}
div.user-profile {

}

img.medium-avatar {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    float:left;
}

div.user-profile-header{
    margin-left: 115px;
    position:relative;
    float:top;
}

.gender{
    border-left: 1px solid #eee;
    margin-left: 6px;
    padding-left: 10px;
}

.edit{
    color: #666;
    margin-top:5px;
}

div.user-profile-word {
    overflow: hidden;
    position: relative;
    padding: 12px 15px 0 0;
    border-top: 1px dotted #eee;
    margin: 18px 0px;
}

div.user-fulfillment {
    padding: 12px 18px;
    border-top: 1px dotted #eee;
}

div.user-fulfillment-left {
    float: left;
}

.left-info {
    margin-right: 5px;
}
div.user-fulfillment-right {
    float:right;

}

.following {
    padding: 0 5px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    white-space: nowrap;
    width: auto;
    _width: 78px;
    min-width: 78px;
    color: #3e5e00 !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
    background: #8ab923;
    background: -webkit-linear-gradient(top,#adda4d,#86b846);
    background: linear-gradient(to bottom,#adda4d,#86b846);
    border: 1px solid #6d8f29;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
}
.unfollow {
    padding: 0 5px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    width: auto;
    _width: 78px;
    min-width: 78px;
    white-space: nowrap;
    background: #eee;
    color: #888;
    border: 1px solid #ddd;
}

a.follower,a.followed {
    float:right;
}

div#footer {
    padding-left:0px;
    padding-top:0px;

}
div.panel-footer .edit{
    padding: 12px 12px;
    font-weight: 700;
    color: #666;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    line-height: 22px;

}
.user-html{
    border: solid #ddd;
    border-width: 0 1px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px #f0f0f0 inset;
}

li.searchResulttitle {

    background-color: #f7f7f7;

}

li.searchResult  {
    width:600px;
}


li.searchResult1  {
    color:#9932CC;
    background-color:#FAFAD2;
    width:600px;
}

#searchlist  {
    width:600px;
    padding:0 0 0 0;
}


.list-group-item-warning {
    background-color:#FFCCCC;
    color:#888888;
}

.list-group-item-info {
    background-color:#E6E6FA ;
    color:#B8860B ;
}

.user-active {
    background-position: -149px -165px;
    width: 18px;
    height: 19px;
    vertical-align: -5px;
    margin-left:-5px;
}

.user-answer{
    position: relative;
    padding: 12px 0;
    border-top: 1px dotted #EEE;
    width:700px;
}
.user-answer-agree {
    float: left;
    padding: 2px;
    color: #259;
    height: 38px;
    width: 46px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    background: #eff6fa;

}
.user-answer-agree-count {
    padding: 2px 0 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #259;
    text-align: center;
}
.user-answer-agree-agree {
    line-height: 1;
    font-weight: 400;
    font-size: 12px;
    color: #259;
    text-align: center;
}
.user-answer-main {
    margin-left: 60px;
}

.user-answer-post{
    font-weight: 700;
    font-size: 14px;
    outline: 0;
}

.user-answer-answer{
    margin: 0;
    padding: 0;
    width:500px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


a:hover {
    text-decoration: none;
}
a.post-link:hover {
    text-decoration: underline;
}

.follower-list{
    width:700px;
    padding: 10px 0;
    position: relative;
    margin-left: 0;
    outline: 0;
    border-bottom: 1px solid #e0e0e0;

}
.follow-right {
    width:100px;
    float:right;
}
.tight {
    margin:1px,1px,1px,1px;
    padding:0,0,0,0;
}
.right{
    float:right;
    position:absolute;
    display:inline-block;
}
.left{
    float:left;
    display:inline-block;
}
.answer-profile-thumbnail{
    display: block;
    width: 38px;
    height: 38px;
    float: left;
    margin: 3px 0 0;
}

div.answer-content{
    margin-left: 48px;
}

.answer-author {
    font-weight: bold;
    color: #BBB;
}

.index-answer-agree {
    position: absolute;
    left: -48px;
    display: block;
    color: #698ebf;
    height: 24px;
    line-height: 24px;
    width: 38px;
    margin-top: 30px;
    margin-left: 2px;
    border-radius: 3px;
    border: 0;
    background: #eff6fa;
    font-weight: 700;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}


.long-button {
    width:800px;
    display: block;
    font-size: 13px;
    margin: 20px 0;
    padding: 5px 1px;
    color: #666 !important;
    text-shadow: 0 1px 0 #fff;
    background: linear-gradient(to bottom,#f8f8f9,#e6e6e8);
    border: 1px solid #bbb;
    box-shadow: 0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
}





