<meta charset="UTF-8">
<ul class="answers">
    {% for answer in answers %}
    <li class="answer" id="answer-{{ answer.id }}">
        <div class="vote-answer">
                <a href="#" class="up" id="{{ answer.id }}">
                    <button class="{%if current_user.is_authenticated and answer.is_agreed_by(current_user) %}button-up button-uped
                {%else%}button-up{% endif %}" id="button-up-{{ answer.id }}"title="大胆赞同" aria-pressed="false" >
                    <span class="glyphicon glyphicon-chevron-up {%if current_user.is_authenticated and answer.is_agreed_by(current_user) %} vote-up vote-uped
                {%else%}vote-up{% endif %}"id="span-up-{{ answer.id }}"> </span>
                    <span class="count" id="agree-count-{{ answer.id }}">{{ answer.agree }}</span>
                    <span class="agree">赞同</span>
                    </button>
                </a>
                <a href="#" id="add-disagree"><button class="button-down" title="放心反对" aria-pressed="false">
                    <span class="glyphicon glyphicon-chevron-down vote-down"> </span>
                    <span class="disagree" id="disagree">放心反对</span>
                </button></a>
        </div>
        <div class="answer-content">
            <div>
                <div class="answer-author"><a href="{{ url_for('main.user',username=answer.author.username) }}">{{ answer.author.username }}</a>•{{ moment(answer.timestamp).fromNow() }}</div>
                <div class="profile-thumbnail right">
                    <a href=#>
                        <img class="img-rounded profile-thumbnail " src="{{ answer.author.gravatar(size=25)}}">
                    </a>
                </div>
            </div>
            <div class="answer-body">
                {% if answer.disabled %}
                <p><i>该答案已被折叠</i></p>
                    {% if current_user.can(Permission.MODERATE_COMMENTS)%}
                        {% if answer.body_html %}
                            {{ answer.body_html | safe}}
                        {% else %}
                            {{ answer.body }}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if answer.body_html %}
                        {{ answer.body_html | safe}}
                    {% else %}
                        {{ answer.body }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="answer-foot">
                <a href="#" class="comment" id="{{ answer.id }}">
                    {% if answer.comments.count() != 0 %}
                        <span class="badge">{{ answer.comments.count()}}</span>
                        条评论
                    {% else %}
                        添加评论
                    {% endif %}
                </a>

                {% if answer.author_id == current_user.id %}
                <a href="{{url_for('.edit_answer',id=answer.id)}}">
                <span class="label label-primary">修改</span></a>
                {% endif %}
                {% if current_user.can(Permission.MODERATE_COMMENTS)%}
                    {% if answer.disabled %}
                        <a href="{{url_for('.enable',id=answer.id)}}">
                        <span class="label label-success">显示</span></a>
                    {% else %}
                        <a href="{{url_for('.disable',id=answer.id)}}">
                        <span class="label label-default">折叠</span></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="comment-content-all panel panel-default" id="{{ answer.id }}-comment">

        </div>


    </li>
    {% endfor %}

</ul>
<div class="modal fade bs-example-modal-sm " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="comment-message-login">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">提示</h2>
            </div>
            <div class="modal-body">
                <h4>对不起，请尝试<a href="{{url_for('auth.login')}}">登陆</a>后评论！</h4>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="comment-message-content">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">提示</h2>
            </div>
            <div class="modal-body">
                <h4>评论内容不能为空！</h4>
            </div>
        </div>
    </div>
</div>

