<ul class="answers">
    {% for answer in answers %}
    <li class="answer">
        <div class="answer-content">
            <div class="answer-date">{{ moment(answer.timestamp).fromNow() }}</div>
            <div class="answer-author"><a href=#>{{ answer.author.username }}</a></div>
            <div class="answer-body">
                {% if answer.disabled %}
                <p><i>该答案已被折叠</i></p>
                {% endif %}
                {% if answer.body_html %}
                    {{ answer.body_html | safe}}
                {% else %}
                    {{ answer.body }}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>