<meta charset="UTF-8">
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{url_for('static',filename='zhihu.icon')}}" type="image/vnd.microsoft.icon">
<link rel="icon" href="{{ url_for('static', filename = 'zhihu.ico') }}" type="image/vnd.microsoft.icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">知乎fake</a>
        </div>
        <form class="navbar-form navbar-left" role="search" >
            <div class="input-group">
                <input id="searchText" data-toggle="dropdown" type="text" class="form-control" placeholder="搜索你感兴趣的内容..." >
                    <ul id="searchList" class="hidden dropdown-menu list-group" >
                    </ul>
                <span class="input-group-btn">
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="searchModal"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}"><span class="input-group-btn">首页</a></li>
                <li><a href="{{ url_for('main.index') }}">话题</a></li>
                <li><a href="{{ url_for('main.index') }}">发现</a></li>
                <li><a href=#>消息</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                            <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg btn-default navbar-btn add-question" data-toggle="modal" data-target="#myModal">提问</button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel"><font size="5" color="black">提问</font></h4>
                            </div>
                            <div class="modal-body">
                                <font size="3" color="black">
                                <p>知乎fake是一个真诚、友善、认真、互助的社区<br/>
                                我们希望每一个疑惑都有解答，好的问题更容易得到好答案<br/>

                                <b>提问应遵循真实、客观、简洁、明确、规范的原则</b><br/>
                                1、提问应尽可能简洁明了，避免「请问」「有谁知道」「谢谢！」等与问题本身无关的附加语。<br/>
                                2、应避免使用「为神马」「童鞋」「肿么办」等网络用语。<br/>
                                3、基于个人判断或传言的问题，在提问时应在补充说明里详细说明原由<br/>
                                4、避免太宽泛问题，如调查性的问题容易变成每个人都可以发表观点，但对其他人没有价值。</p>
                            {% if current_user.is_authenticated %}

                                <form method="post" action='/_question' role="form">
                                  <textarea class="span3" name="postform" rows="3" cols="50">输入你的问题。。。</textarea>
                                  <p><input type="submit" value="发布"></p>
                                </form>

                            {% else %}
                                <h2>请您<a href="{{ url_for('auth.login') }}">登录</a>后再使用此功能</h2>
                            {% endif %}
                                </font>
                            </div>
                        </div>
                    </div>
                </div>

                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src=#>Account<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href=#><span class="glyphicon glyphicon-user">  我的主页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href=#><span class="glyphicon glyphicon-envelope">  私信</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href=#><span class="glyphicon glyphicon-cog">  设置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('auth.logout')}}"><span class="glyphicon glyphicon-off">  退出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
<script type=text/javascript>
  $(function() {
    $("a.up").each(function(){
        $(this).bind("click",function(){
            var id = $(this).attr('id');
            $.getJSON('/_add_agree',
                {answer_id:$(this).attr('id')},
                function(json) {
                    $("#agree-count-" + id ).text(json.agree_count);
            });
        });
    });
  });
</script>
<script type=text/javascript>
    $("#searchText").keyup(function(){
        var searchText = $("#searchText").val();
        if(searchText){
            $("ul#searchList").removeClass("hidden");
            $.getJSON('/_search',
                    { key:searchText },
                    function(json) {
                        var contents = json.post;
                        var user = json.user;
                        var answer = json.answer;
                        var url = json.url;
                        var answers_urls = json.answers_urls;
                        var users_urls = json.user_urls;
                        $("ul#searchList").empty();
                        if(url == 'None'){
                            $("ul#searchList").append("<li class='list-group-item list-group-item-warning'>" + contents + "</a></li>" );
                        }
                        else{
                            $("ul#searchList").append("<li class='list-group-item list-group-item-info'>问题</li>" );
                            for (var i=0;i<contents.length;i++)
                            {
                               $("ul#searchList").append("<li class='list-group-item'><a  href='" + url[i] + "'>" + contents[i] + "</a></li>" );
                            };
                            for (var j=0;j<answer.length;j++)
                            {
                               $("ul#searchList").append("<li class='list-group-item'><a  href='" + answers_urls[j] + "'>" + answer[j] + "</a></li>" );
                            };
                               $("ul#searchList").append("<li class='list-group-item list-group-item-info'>用户</li>" );
                             for (var k=0;k<user.length;k++)
                            {
                               $("ul#searchList").append("<li class='list-group-item'><a  href='" + users_urls[k] + "'>" + user[k] + "</a></li>" );
                            };

                        }

            });
        }
        if(!searchText){
            $("ul#searchList").empty();
            $("ul#searchList").addClass("hidden");
        }
    });

</script>

{% endblock %}

