<!DOCTYPE HTML>
<html>
	<head>
		<title>To Fiona</title>
		<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		 <!-- Custom Theme files -->
		<link href="static/css/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
   		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!----webfonts--->

		<script src="static/js/jquery.min.js"></script>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!---//webfonts--->
	</head>
	<body>
	<!-- container -->
		<!-- top-header -->
		<!-- /top-header -->
		<!-- main-menu -->
		<div class="main-menu">
			<div class="container">
			<div class="head-nav">
				<span class="menu"> </span>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<div class="clearfix"> </div>
				</ul>
			</div>
				<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav -->

				<!-- logo -->
				<div class="logo">
					<img src="static/images/happbirthday.png" title="happybirthday" class="img-circle"/></a>
				</div>
				<!-- logo -->
			</div>
		</div>
		<!-- /main-menu -->
		<!-- banner -->
		<div class="container">
				<div class="img-slider">
						<!----start-slider-script---->
					<script src="static/js/responsiveslides.min.js"></script>
					 <script>
					    // You can also use "$(window).load(function() {"
					    $(function () {
					      // Slideshow 4
					      $("#slider4").responsiveSlides({
					        auto: true,
					        pager: true,
					        nav: true,
					        speed: 500,
					        namespace: "callbacks",
					        before: function () {
					          $('.events').append("<li>before event fired.</li>");
					        },
					        after: function () {
					          $('.events').append("<li>after event fired.</li>");
					        }
					      });

					    });
					  </script>
					<!----//End-slider-script---->
					<!-- Slideshow 4 -->
					    <div  id="top" class="callbacks_container">
					      <ul class="rslides" id="slider4">
					        <li>
					          <img  src="static/images/cake1.jpg"  height="677px" width="1120px">

					           <!-- share-on -->
					          <!-- share-on -->
					        </li>
					         <li>
					          <img  src="static/images/cake2.jpg" class="img-responsive" alt="">
					          <!-- share-on -->

					          <!-- share-on -->
					        </li>
					        <li>
					          <img src="static/images/cake6.jpg" class="img-responsive" alt="">
					           <!-- share-on -->

					          <!-- share-on -->
					        </li>
					        <li>
					          <img src="static/images/cake4.jpg" class="img-responsive" alt="">
					           <!-- share-on -->

					          <!-- share-on -->
					        </li>
					      </ul>
					    </div>
					    <div class="clearfix"> </div>
					</div>
		<!-- /banner -->
		</div>
		<!-- top-grids -->
		<div class="top-grids" >
			<div class="container" >
				<div class="col-md-12 top-grid">
					<div class="top-grid-info">
						<img src="static/images/text2.jpg" class="img-responsive" alt="" >

					</div>
				</div>
			</div>
			<!-- top-grids-bg -->
			<div class="top-grids-bg" >
				<span style="margin-top:-120px"> </span>
			</div>
			<!-- top-grids-bg -->
		</div>
		<!-- top-grids -->
		<!-- bottom-grids -->
		<div class="bottom-grids">
			<div class="container">
				<div class="col-md-12 bottom-grid-left">
					<div class="col-md-12 bottom-grid-left-grid text-center">
						<p>生日快乐！生日蛋糕挑一款吧~（下一次补真的 = =）,新的一岁甩掉过去,继续向前!</p>
						<p>After all,tomorrow is another day~！</p>
					</div>
					<div class="clearfix"> </div>
					<span class="best-sale">To 王佳璐</span>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- bottom-grids -->
	<!-- /container -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-top">

				<div class="col-md-4 col-md-offset-8">
					<h4>All by Heath Kang</h4>
					<audio src="static/music/blessing.mp3" controls="controls" autoplay="autoplay">
				  如不支持，请使用谷歌浏览器～！（360极速也是可以的）
				</audio>
				</div>

					<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!-- /footer -->

</body>


</html>
