{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="row">
    <div class="main-content col-md-8 col-sm-12">
       {% include "_user.html"%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="post-link" href="{{ url_for('.user',username=user.username)}}"><strong>{{ user.username }}</strong></a>
                    关注了<span>{{ user.followed.count() - 1 }}</span>人
                </h3>
            </div>
            <div class="panel-body">
                {% for follow in followers %}
                <div class="follower-list">
                    <div class="row">
                        <a class="col-md-2 " href="{{ url_for('.user', username = follow.username) }}">
                            <img class="img-rounded" src="{{ follow.gravatar(size=24) }}">
                                {{ follow.username }}
                        </a>

                        <a class=" col-md-2 col-md-offset-4" href="{{ url_for('.followed',username=follow.username )}}">
                            <strong>关注了</strong> <span>{{follow.followed.count() - 1}}</span>人
                        </a>
                        <a class=" col-md-2" href="{{ url_for('.followers',username=follow.username )}}">
                            <strong>关注者</strong> <span>{{follow.followers.count() - 1}}</span>人
                        </a>
                    </div>

                </div>
                {% endfor %}
                {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination,'.followed',username=user.username)}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="main-barside col-md-4 col-sm-0">

    </div>


</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script type=text/javascript src="{{ url_for('static',filename='followed.js')}}"></script>

{% endblock %}