{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="main-wrap">
    <div class="main-content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="username" id="{{ user.username }}">
                    <h1>{{ user.username }}</h1>
                </div>
                <div class="user-profile">
                    <img class="medium-avatar" src="{{ user.gravatar(size=256)}}"></img>
                    <div class="user-profile-header">
                        <div class="user-profile-description">
                            <div class="edit">
                                <span class="glyphicon glyphicon-map-marker">
                                    {% if user.location %}
                                    <a href="http://gaode.com/search?query={{ user.location }}">{{ user.location}}</a>
                                    {% else %}
                                    中国
                                    {% endif %}
                                </span>
                                <span class="gender ">{% if user.gender == 0 %}女{% else %}男{% endif %}</span>
                            </div>
                            <div class="edit">
                                <a class="more-profile"  href="#">
                                    <span class="edit glyphicon glyphicon-arrow-right"></span>
                                    <span >详细资料</span>
                                </a>
                            </div>
                            <div class="user-profile-word">
                                <span>{%if user.about_me%}{{ user.about_me }}{% else %}想了些什么却没有写{% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-fulfillment">
                    <div class="edit user-fulfillment-left">
                        <span class="left-info">获得</span>
                        <span class="edit glyphicon glyphicon-thumbs-up"> </span>
                        <span>赞数（预留）</span>
                    </div>
                    <div class="user-fulfillment-right">
                        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                            {% if not current_user.is_following(user) %}
                                <button id="follow" class="following">关注</button>
                            {% else %}
                                <button id="follow" class="unfollow">取消关注</button>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('.edit_profile')}}"><button type="button" class="btn btn-info">编辑我的资料</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-footer" id="footer">
                <a class="edit user-html" href="{{ url_for('main.user',username=user.username)}}">
                    <span class="edit user-active glyphicon glyphicon-home"> </span>
                </a>
                <a class="edit" href="#">提问{{ user.posts.count() }}</a>
                <a class="edit" href="#">回答{{ user.answers.count() }}</a>
                <a href="#" class="edit followed">
                    <span>关注了<strong id="followed">{{ user.followed.count()}}</strong>人</span>
                </a>
                <a href="{{ url_for('.followers',username=user.username )}}" class="edit follower">
                    <span>关注者
                        <strong id="follower">{{ user.followers.count()}}</strong>人
                    </span>
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a class="post-link" href="{{ url_for('.user',username=user.username)}}"><strong>{{ user.username }}</strong></a>
                    关注了<span>{{ user.followed.count()}}</span>人
                </h3>
            </div>
            <div class="panel-body">
                    {% for follow in followers %}
                    <div class="follower-list">
                        <a width='20' href="{{ url_for('.user', username = follow.username) }}">
                            <img class="img-rounded" src="{{ follow.gravatar(size=24) }}">
                                {{ follow.username }}
                        </a>

                        <a class="follow-right edit" href="{{ url_for('.followed',username=follow.username )}}">
                            <strong>关注了</strong> <span>{{follow.followed.count()}}</span>人
                        </a>
                        <a class="follow-right edit" href="{{ url_for('.followers',username=follow.username )}}">
                            <strong>关注者</strong> <span>{{follow.followers.count()}}</span>人
                        </a>

                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>


    <div class="main-barside">

    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination,'.followed',username=user.username)}}
    </div>

</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script type=text/javascript src="{{ url_for('static',filename='followed.js')}}"></script>

{% endblock %}