<meta charset="UTF-8">
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}知乎fake{% endblock %}

{% block page_content %}
<div class="top-title-left">
	<span class="glyphicon glyphicon-list-alt"></span>最新动态
</div>
    {% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
	{{ macros.pagination_widget(pagination,'.index') }}
</div>
{% endif %}
{% endblock %}


{% block scripts%}
{{ super() }}


{% endblock %}