<meta charset="UTF-8">
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}知乎fake - 问题 {% endblock %}

{% block page_content %}
{% include '_posts.html' %}
<h4 id="answers">答案</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="answer-form">
    {{wtf.quick_form(form)}}
</div>
{% endif %}
{% include '_answers.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination,'.post',fragment='#answers',id=posts[0].id)}}
</div>
{% endif %}

{% endblock %}