<meta charset="UTF-8">
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}知乎fake - 问题 {% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/ueditor.all.js') }}"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
{% endblock %}

{% block page_content %}
{% include '_post.html' %}

<div class="post-footer">
    <strong>{{ post.answers.count() }}个回答</strong>
</div>

{% include '_answers.html' %}
{% if current_user.can(Permission.COMMENT) and not post.is_answerd_by(current_user) %}

<form action="/post/{{ post.id }}" method="post" >
    <!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain">

    </script>
    <input type="submit" class="btn btn-primary btn-sm " value="发布回答">
</form>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('container', {
        toolbars: [
                    ['bold','italic','underline','blockquote','insertcode','insertorderedlist',
                    'insertunorderedlist','removeformat','undo', 'redo', ]
                  ],
        autoHeightEnabled: true,
        autoFloatEnabled: true,
        initialFrameWidth: 800,
        initialFrameHeight: 160
    });
</script>

{% endif %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination,'.post',fragment='#answers',id=post.id)}}
</div>
{% endif %}

{% endblock %}
{% block scripts %}
{{ super() }}
<script type=text/javascript>
  $(document).ready(function() {
    $("a.comment").each(function(){
      $(this).bind("click",function(){
        var id = $(this).attr('id');
        $.ajax({
            url: '/_comment',
            data:{ 'answer_id' : id},
            method: 'get',
            dataType: 'json'
        }).done(function(response){
            if (response.result)  {
                if ($('div#'+id + '-comment').is(":empty")) {
                    $("html,body").animate({scrollTop:$('div#'+id + '-comment').offset().top},600);
                    $('div#'+id + '-comment').append(response.comment_html);
                    $('div#'+id + '-comment').append(response.page_html);
                    for (var i=0;i<response.comments_id.length;i++)
                        {
                            $('div#'+id + '-comment').find('div#comment-'+response.comments_id[i]).append(moment(response.comments_timestamp[i]).fromNow());
                        };
                    }
                else{
                    $('div#'+id + '-comment').empty();
                }
            }
        });
      });
    });
    $("div.comment-content-all").on("click","a.comment-page",function(){
      var page = $(this).attr('id');
      var text = $(this).closest('div.comment-content-all').attr('id').split('-');
      var id = text[0];
      if($(this).attr('id') != "disabled"){
        $.ajax({
                url: '/_comment',
                data:{ 'answer_id' : id,
                        'page' : page},
                method: 'get',
                dataType: 'json'
        }).done(function(response){
                    if (response.result) {
                        $("html,body").animate({scrollTop:$('div#'+id + '-comment').offset().top},0);
                        $('div#'+id + '-comment').empty();
                        $('div#'+id + '-comment').append(response.comment_html);
                        $('div#'+id + '-comment').append(response.page_html);
                        for (var i=0;i<response.comments_id.length;i++)
                            {
                               $('div#'+id + '-comment').find('div#comment-'+response.comments_id[i]).append(moment(response.comments_timestamp[i]).fromNow());
                            };
                    }
                });
      };
    });

    $("div.comment-content-all").on("click","#comment-submit",function(){
      var text = $(this).closest('div.comment-content-all').attr('id').split('-');
      var id = text[0];
      var comment = $(this).siblings('textarea').val();
      $.getJSON('/_add_comment',
                    { answer_id:id,
                     comment:comment },
                    function(json) {
                    if (json.result) {
                    $('div#'+id + '-comment').empty();
                    $("html,body").animate({scrollTop:$('div#'+id + '-comment').offset().top},600);
                    $('div#'+id + '-comment').append(json.comment_html);
                    $('div#'+id + '-comment').append(json.page_html);
                    for (var i=0;i<response.comments_id.length;i++)
                        {
                            $('div#'+id + '-comment').find('div#comment-'+response.comments_id[i]).append(moment(response.comments_timestamp[i]).fromNow());
                        };
                    }

               });
    });
  });
</script>



{% endblock%}

