{% extends "base.html" %}

{% block page_content %}
<div class="row">
    <div class="main-content col-md-8 col-sm-12">
    {% include "_user.html"%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><a href="{{ url_for('.user_answers',username=user.username)}}">回答
                    <span class="glyphicon glyphicon-chevron-right"></span></a></h2>
            </div>
            <div class="panel-body">
                {% for answer in answers %}
                    {% if loop.index0 <=2 %}
                    <div class="user-answer" >
                        <div class="user-answer-agree">
                            <div class="user-answer-agree-count">{{ answer.agree }}</div>
                            <div class="user-answer-agree-agree">赞同</div>
                        </div>
                        <div class="user-answer-main">
                            <div class="user-answer-post">
                                <a href="{{ url_for('._re_post',id=answer.id)}}">
                                    {{ answer.post.body | truncate(80,true) }}
                                </a>
                            </div>
                            <div class="user-answer-answer">
                                    {{ answer.pure_body | truncate(80,true) }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><a href="{{ url_for('.user_questions',username=user.username)}}">提问
                    <span class="glyphicon glyphicon-chevron-right"></span></a></h2>
            </div>
            <div class="panel-body">
                {% for post in posts %}
                    {% if loop.index0 <=2 %}
                    <div class="user-answer" >

                        <div class="user-post-main">
                            <div class="user-answer-post">
                                <a href="{{ url_for('.post',id=post.id)}}">
                                    {{ post.body | truncate(80,true) }}
                                </a>
                            </div>
                            <div class="user-answer-answer">创建于{{ moment(post.timestamp).fromNow() }} 共有{{ post.answers.count() }}条回答</div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="side-content col-md-4 col-sm-0 "></div>


</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script type=text/javascript src="{{ url_for('static',filename='user.js')}}"></script>

{% endblock %}
