{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="main-wrap">
    <div class="main-content">
        {% include "_user.html"%}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">提问</h3>
            </div>
            <div class="panel-body">
                {% for post in questions %}
                    <div class="user-answer" >
                        <div class="user-post-main">
                            <div class="user-answer-post">
                                <a href="{{ url_for('.post',id=post.id)}}">
                                    {{ post.body }}
                                </a>
                            </div>
                            <div class="user-answer-answer">创建于{{ moment(post.timestamp).fromNow() }} 共有{{ post.answers.count() }}条回答</div>
                        </div>
                    </div>
                {% endfor %}
                {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.user_questions',username=user.username) }}
            </div>
            {% endif %}
            </div>
        </div>
    </div>


    <div class="main-barside">

    </div>


</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script type=text/javascript src="{{ url_for('static',filename='user_questions.js')}}"></script>

{% endblock %}